<div class="container">
  <h1>Course Assignments</h1>

  <% if current_user.is_instructor? %>
      <%= render 'assignments/index_instructor' %>
  <% else %>
      <%= render 'assignments/index_student' %>
  <% end %>
</div>