<div class="container">
  <h1>Course Assignment </h1>

  <% if current_user.is_instructor? %>
      <%= render 'assignments/show_instructor' %>
  <% else %>
      <%= render 'assignments/show_student' %>
  <% end %>
</div>