<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 well text-center">
      <h1>Welcome!</h1>

      <% if is_course_setup? %>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <br/> <p>
              This app will allow you to add yourself to the github organization for
              your course: <b><kbd>`<%= Setting.course %>`</kbd></b>.
            </p>
            <br/> <p>
              Please click the login button below, and log in with your github.com
              username and password.
            </p>
            <br/><p>
              Then, click the "Authorize" button that appears. This allows the app to
              access the email addresses associated with your account, and your github
              organization memberships.
            </p>
            <br/> <p>
              When you click authorize, you'll be redirected back to this website. If
              the email on your github account matches the email on the course roster,
              you'll be added into the organization.
            </p> <br/>
          </div>
          <div class="col-sm-1"></div>
        </div>
      <% else %>
        <br>
        <p>Please sign in and set up your course!</p>
        <br>
      <% end %>

      <%= button_to signin_path, method: :get, class: 'btn btn-info btn-lg' do %>
        <%= fa_icon 'github', text: 'Sign in with Github' %>
      <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
