<div class="container">
  <h1>Uh Oh!</h1>
  <p>Looks like the course hasn't been set up with this application. Check that you have properly set the
     COURSE_ORGANIZATION environment variable.</p>
</div>