<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><p class="navbar-btn">
    <%= link_to signin_path, class: 'btn btn-info' do %>
      <%= fa_icon "github", text: "Sign in" %>
    <% end %>
  </p></li>
<% end %>
